body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Um tom neutro para o fundo */
}

#header {
  background-color: #3498db; /* Um tom azul para o cabeçalho */
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

#logo .logo-img {
  max-width: 100px;
  height: auto;
}

#contact a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2ecc71; /* Agora verde para o botão de contato */
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#description {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

#description h2 {
  color: #3498db; /* Um tom de azul para o título */
}

#description .caption {
  margin-top: 20px;
}

#description p {
  color: #333333;
}

#description .rounded-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2ecc71; /* Um tom verde para os botões */
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 10px;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3498db;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#slideshow-container {
  flex: 1;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.slide-caption {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.slide-caption h2 {
  color: #3498db; /* Um tom de azul para os títulos dos slides */
}

.slide-caption p {
  color: #333333;
}

#footer {
  background-color: #3498db; /* Um tom de azul para o rodapé */
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
